/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background: grey;
}

.messagebox{
    margin: 5px;
    background-color: black;
    color:white;
}

.createmessage{
    margin: 5px;
    background-color: rgb(27, 13, 230);
    color:white;
}

.navbar li{
    display:inline-block;
}

.navbar li  button{
    
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

button{
    cursor: pointer;
}

.form input {
    margin:10px;    
}

.error {background-color: #ffff00}

.welcome{ font-size: 24px;}